<!-- index.html -->


<!DOCTYPE html>
<html>
  <head>

    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <link rel ="stylesheet" type="text/css" href="css/stylesheet.css">
    <script src = "frontend.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>


    <title>Bookmarks</title>

  </head>


  <body>
<div id ="backgroundpage">
    <button id="Activatedronebutton">Activate the Drone</button>
    <button id="Deactivatedronebutton">Deactivate Drone</button>
    <div id ="dronetext">Drone Status</div>
    </div>
  </body>

</html>
